What To Hand In

For this assignment you will hand in:

    A screen shot (with URL) of your login.php rejecting an incorrect password

    A screen shot (with URL) of your game.php correctly showing the 'Name parameter missing' error

    A screen shot (with URL) of your game.php doing a normal play with the computer making a choice other than Rock

    A screen shot (with URL) of your game.php doing a correct test run

    Source code of login.php

    Source code of game.php